.pepe {
    background: #6dbec6;
}

.pepito {
    background: url('../../Images/wallpaper2.jpg');
}

.data-table {
    padding: 2px;
    background: rgba(0, 0, 0, .1);
}
.table {
    padding: 10px;
}

.headline {
    color: #245699;
}

.list-style {
    background: rgba(0, 0, 0, .2);
    border-radius: 2px;
}

.list-style-sub {
    background: rgba(0, 0, 0, 0);
    border-radius: 2px;
}

.v-sheet--offset {
    top: -40px;
    /* position: relative; */
}

.icons-nav {
    width: 50px;
    height: 50px;
}

.v-sheet--offset .icon-title {
    margin: 2rem 2rem 2rem 2rem;
}

.container-table {
    background: #245699;
}

.card {
    border-radius: 4px;
}

.total {
    border-radius: 4px;
    color: #fff;
}

/* Scroll Style */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #6dbec6;
    width: 9px;
    border-radius: 10px;
}